@model Category

<div class="text-center">
    <h1 class="display-4">New Category</h1>
    <form asp-action="NewCat" asp-controller="Home" method="POST">
        <span asp-validation-for="Name"></span> <br>
        <label asp-for="Name"></label>
        <input asp-for="Name"> <br>
        <button class="btn btn-dark">Create</button>
    </form>
    <hr>
    <partial name="_ExistingCats"></partial>
</div>